- if @region.slug == 'nyc'
  - nyc_class = 'active'
  - li_class = ''
  - nj_class = ''
- elsif @region.slug == 'long-island'
  - nyc_class = ''
  - li_class = 'active'
  - nj_class = ''
- elsif @region.slug == 'new-jersey'
  - nyc_class = ''
  - li_class = ''
  - nj_class = 'active'

.nav
  .new-jersey{:class => nj_class}
    %h3= link_to 'New Jersey', '/new-jersey'
  .nyc{:class => nyc_class}
    %h3= link_to 'NYC', '/'
  .long-island{:class => li_class}
    %h3= link_to 'Long Island', '/long-island'
