%ul
  - areas.sort{ |a,b| a.area_name.downcase <=> b.area_name.downcase }.each do |area|
    %li
      %h3 
        - if area.outage_percentage < 0.02
          - color_class = "low"
        - elsif area.outage_percentage < 0.08
          - color_class = "medium"
        - else
          - color_class = "high" 
        %a{:href => "/#{area.slug}", :class => color_class} 
          = raw "#{area.area_name}<br />#{(area.outage_percentage * 100).to_s.split('.')[0]}%"