%header
  %h1= @area.area_name
  %h2= t("area.subtitle", :num => @total_outage_percent, :name => @area.area_name)

= render 'power/trend'

- if @area.children.length > 0
  %h2 Number of affected customers per neighborhood:
  = render 'power/sub_areas', :areas => @area.children