- content_for :time_series do
  =raw @time_series_json

- content_for :map_points do
  =raw @map_points_json

%header
  %h1 Does NYC have power?
  %h2= raw @response

.trend
  %h2 Outage history for NYC:
  = render 'power/trend'

.current
  %h2 Customers offline per burough:

  .map#map_canvas

  .sub-areas
    = render 'power/sub_areas', :areas => @areas