%h2= raw t("index.subtitle", {:pretty_online_percent => pretty_online_percentage(provider.offline_customers, provider.total_customers), :provider => provider.name, :total_customers => provider.has_total_customers? ? number_to_human(provider.total_customers) : '', :link => provider.url})
