@import "susy";

$total-columns  : 12;
$column-width  : 5em;
$gutter-width  : 1em;
$grid-padding  : $gutter-width;
$container-style: fluid;

$medium         : 6;
$large          : 9;

$max-width      : 942px;

body {
  @include container($total-columns);
  header {
    margin-top: 4em;
    @include span-columns(1, 1);
    h1 {
      font-size: 2em;
      text-align: center;
    }
    h2 {
      margin-top: 1.5em;
      @include span-columns(10, 12);
      @include prefix(1,12);
      @include suffix(1,12);
      text-align: center;
      font-size: 1.5em;
    }
  }

  .map {
    margin-top: 3em;
    @include span-columns(10, 12);
    @include prefix(1,12);
    @include suffix(1,12);
    height: 250px;
  }

  .trend {
    margin-top: 4em;
    @include span-columns(1, 1);

    .graph {
      margin-top: 1.5em;
    }
  }

  .sub-areas {
    margin-top: 3em;
    @include span-columns(1, 1);
    
    h2 {
        font-size: 1.5em;
        text-align: center;
    }

    h3 {
      text-align: center;
    }

    ul {
      margin-top: 1.5em;
    }

    li {
      @include span-columns(1, 3);
      @include nth-omega(3n);

//      &:nth-child(3n) {
//        text-align: right;
//      }

//      &:nth-child(3n-1) {
//        text-align: center;
//      }

      h3 {
        font-size: 1.2em;
      }
    }
  }

  footer {
    margin-top: 2em;
    margin-bottom: 2em;
    @include span-columns(1, 1);
    
    .share {
      width: 90*3px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 45px;

      div {
        margin: 0;
        padding: 0;
      }

      .twitter {
        width: 90px;
        float:left;
      }

      .fb {
        width: 90px;
        float:left;
      }

      .github {
        width: 90px;
        float:left;
      }
    }

    .info {

      .coned {
        @include span-columns(1, 1);
        text-align: center;
      }

      .credits {
        @include span-columns(1, 1);
        text-align: center;
      }
    }
  }

}

@include at-breakpoint($medium) {
  body {
    header {
      margin-top: 4em;

      h1 {
        font-size: 4em;
      }
      h2 {
        margin-top: 1.5em;
        font-size: 2em;
      }
    }
    
    .map {
      margin-top: 4em;
      height: 400px;
    }

    .sub-areas {
      margin-top: 4em;

      h2 {
        //text-align: left;
      }
    }

  }
}

@include at-breakpoint($large) {
  body {
    $container-style: static;
    @include set-container-width;
      footer {
        margin-top: 4em;
      }
//    footer {
//      margin-top: 4em;
//      margin-bottom: 3em;

//      @include span-columns(1, 1);

//      .share {
//        margin-left: 0;
//        margin-right: 0;
//        //@include span-columns(1 omega, 2);
//        float:right;

//        margin-right: -35px;
//      }

//      .info {
//        @include span-columns(1, 2);

//        .coned {
//          @include span-columns(1, 1);
//          text-align: left;
//        }

//        .credits {
//          @include span-columns(1, 1);
//          text-align: left;
//        }
//      }
//    }    
  }
}