@import "susy";

$total-columns  : 12;
$column-width  : 5em;
$gutter-width  : 1em;
$grid-padding  : $gutter-width;
$container-style: fluid;

$medium         : 6;
$large          : 9;

$max-width      : 942px;

body {
  @include container($total-columns);
  header {
    margin-top: 5em;
    @include span-columns(1 omega, 1);
    h1 {
      font-size: 2em;
      text-align: center;
    }
    h2 {
      margin-top: 1.5em;
      @include span-columns(1 omega, 1);
      text-align: center;
      font-size: 1.5em;
    }

    .providers {
      @include span-columns(1 omega, 1);
      margin-top: 1em;

      h2 {
        font-size: 1.2em;
        text-align: left;
      }

      .provider {
        @include span-columns(1 omega, 1);
        margin-top: 1em;

        h2 {
          font-size: 1.5em;
          margin-top: 0;
          text-align: left;
          @include span-columns(2, 3);
        }

        h3 {
          font-size: 1.5em;
          @include span-columns(1 omega, 3);
          text-align: right;
          .offline {
            display: none;
          }
        }
      }
    }
  }

  .trend {
    margin-top: 3em;
    @include span-columns(1 omega, 1);

    h2 {
      font-size: 1.2em;
    }

    .graph {
      margin-top: 1em;
      height: 250px;
    }
  }

  .current {
    margin-top: 3em;
    @include span-columns(1 omega, 1);

    h2 {
      font-size: 1.2em;
    }

    .map {
      margin-top: 1em;
      @include span-columns(10, 12);
      @include prefix(1,12);
      @include suffix(1,12);
      height: 250px;
    }

    .sub-areas {
      @include span-columns(1 omega, 1);

      h3 {
        text-align: center;
      }

      ul {
        margin-top: 1.5em;
      }

      li {
        @include span-columns(1, 2);
        margin-right: 0;

        h3 {
          font-size: 1.2em;
          padding-left: 10%;
        }
      }
    }
  }

  footer {
    margin-top: 2em;
    margin-bottom: 2em;
    @include span-columns(1 omega, 1);
    
    .share {
      width: 242px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
//      //padding-left: 45px;

      div {
        margin: 0;
        padding: 0;
      }

      .twitter {
        width: 90px;
        float:left;
      }

      .fb {
        width: 90px;
        float:left;
      }

      .github {
        width: 62px;
        float:left;
      }
    }

    .info {

      .coned {
        @include span-columns(1 omega, 1);
        text-align: center;
      }

      .credits {
        @include span-columns(1 omega, 1);
        text-align: center;
      }

      .disclaimer {
        margin-top: 1em;
        @include span-columns(1 omega, 1);
      }
    }
  }

}

@include at-breakpoint($medium) {
  body {
    header {
      margin-top: 6em;

      h1 {
        font-size: 4em;
      }
      h2 {
        @include span-columns(10 omega, 12);
        @include prefix(1,12);
        @include suffix(1,12);
        margin-top: 1.5em;
        font-size: 1.8em;
      }

      .providers {
        @include span-columns(1 omega, 1);
        margin-top: 4em;
        
        .extra {
          display: none;
        }

        .provider {
          //background-color: #ff4499;
          @include span-columns(1, 3);
          @include nth-omega(3n);
          margin-top: 1em;

          height: 100px;

          h2 {

            font-size: 1.5em;
            margin-top: 0;
            text-align: center;
            @include span-columns(1, 1);

            //Clear the previous padding
            @include prefix(0,12);
            @include suffix(0,12);
          }

          h3 {
            font-size: 1.5em;
            @include span-columns(1, 1);
            text-align: center;
            .offline {
              display: inline;
            }
          }
        }
      }
    }

    .trend {
      margin-top: 4em;
      
      h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
      }
    }

    .current {
      margin-top: 2em;
      
      h2 {
        font-size: 1.5em;
        margin-bottom: 0.4em;
      }

      .map {
        height: 400px;
      }

      .sub-areas {
        margin-top: 1em;

        li {
          @include span-columns(1, 3);
          @include nth-omega(3n);

          h3 {
            font-size: 1.2em;
            padding-left: 0;
          }
        }
      }

    }

  }
}

@include at-breakpoint($large) {
  body {
    $container-style: static;
    @include set-container-width;
      header {
        .providers {
          .provider {
            margin-top: 4em;
          }
        }
      }
      footer {
        margin-top: 4em;
      }

//    footer {
//      margin-top: 4em;
//      margin-bottom: 3em;

//      @include span-columns(1, 1);

//      .share {
//        margin-left: 0;
//        margin-right: 0;
//        //@include span-columns(1 omega, 2);
//        float:right;

//        margin-right: -35px;
//      }

//      .info {
//        @include span-columns(1, 2);

//        .coned {
//          @include span-columns(1, 1);
//          text-align: left;
//        }

//        .credits {
//          @include span-columns(1, 1);
//          text-align: left;
//        }
//      }
//    }    
  }
}