@import "susy";

$total-columns  : 12;
$column-width  : 5em;
$gutter-width  : 1em;
$grid-padding  : $gutter-width;
$container-style: fluid;

$medium         : 6;
$large          : 9;

$max-width      : 942px;

body {
  @include container($total-columns);
  header {
    margin-top: 4em;
    @include span-columns(1, 1);
    h1 {
      text-align: center;
    }
    h2 {
      margin-top: 1em;
      @include span-columns(6, 8);
      @include prefix(1,8);
      @include suffix(1,8);
      text-align: center;
    }
  }
  .trend {
    margin-top: 3em;
    @include span-columns(1, 1);

    .graph {
      margin-top: 1.5em;
    }

  }

  .sub-areas {
    margin-top: 3em;
    @include span-columns(1, 1);

    ul {
      margin-top: 1.5em;
    }

    li {
      @include span-columns(1, 3);
      @include nth-omega(3n);
    }
  }

  footer {
    margin-top: 4em;
    margin-bottom: 3em;
    @include span-columns(1, 1);

    .coned {
      @include span-columns(3, 8);
    }

    .credits {
      @include span-columns(5 omega, 8);
      text-align: right;
    }
  }

}

@include at-breakpoint($large) {
  body {
    $container-style: static;
    @include set-container-width;
  }
}