// Place all the styles related to the Power controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";

html {
  
  font-size: 12pt;
  background-image: url("/assets/rough_diagonal.png");
  color: #26282f;

  a, a:visited {
    color: #26282f;
  }

  body {
    font-family: 'Rokkitt', serif;

    header {
      h1 {
        font-weight: 700;
      }
     
      .floater {
        position: absolute;
        top: 0;
      
        background-color: #fff;
        padding: 0.5em;
        a {
          //color: #fff;
        }
      }
    }

    .trend {
      h2 {
        font-size: 1.5em;
      }
      .graph {
        background-color: #eee;
        height: 200px;
      }
    }

    .sub-areas {
      li {
        margin-bottom: 1em;
        
        .low {
          color: #41934f;
        }
        .medium {
          color: saturate(adjust_hue(lighten(#26282f, 25), 131), 49)
        }
        .high {
          color: saturate(adjust_hue(lighten(#26282f, 25), 131), 82)
        }
      }
    }

    footer {
      p {
        color: #555555;
        font-size: 1em;
        line-height: 19px;
      }
    }
  }
}