// Place all the styles related to the Power controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";

html {
  
  font-size: 12pt;
  background-image: url("/assets/rough_diagonal.png");
  color: #26282f;

  a, a:visited {
    color: #26282f;
    text-decoration: none;
  }

  body {
    font-family: 'Rokkitt', serif;

    header {
      a {
        text-decoration: underline;
      }

      h1 {
        font-weight: 700;
        text-shadow: 1px 1px 0 #fff;
      }
     
      .floater {
        width: 145px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -75px;
        background-color: #fff;
        padding: 0.5em;
        a {
          //color: #fff;
        }
      }
    }

    h2 {
      text-shadow: 1px 1px 0 #fff;
    }

    .trend {
      .graph {
        //background-color: #c1bfb3;
        border: 1px solid #d4d4d4;
      }
    }

    .sub-areas {
      li {
        margin-bottom: 1em;
        
        .low {
          color: #41934f;
        }
        .medium {
          color: saturate(adjust_hue(lighten(#26282f, 25), 131), 49)
        }
        .high {
          color: saturate(adjust_hue(lighten(#26282f, 25), 131), 82)
        }
      }
    }

    footer {
      p {
        color: #555555;
        font-size: 1em;
        line-height: 19px;
      }
      .info {
        .disclaimer {

          p {
            width: 300px;
            line-height: 16px;
            text-align: center;
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
            color: #777;
          }
        }
      }
    }
  }
}